<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.braincorp.petrolwatcher">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".base.TestActivity"/>
    </application>

</manifest>
