<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.braincorp.petrolwatcher"
          android:installLocation="preferExternal">

    <!-- System permissions -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Authentication -->

        <activity android:name=".feature.auth.MainActivity"
                  android:taskAffinity="@string/affinity_auth"
                  android:finishOnTaskLaunch="true"
                  android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".feature.auth.EmailSignInActivity"
                  android:taskAffinity="@string/affinity_auth"
                  android:finishOnTaskLaunch="true"
                  android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".feature.auth.MainActivity"/>
        </activity>

        <activity android:name=".feature.auth.EmailAndPasswordSignUpActivity"
                  android:taskAffinity="@string/affinity_auth"
                  android:finishOnTaskLaunch="true"
                  android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".feature.auth.EmailSignInActivity"/>
        </activity>

        <activity android:name=".feature.auth.AuthenticationErrorActivity"
                  android:taskAffinity="@string/affinity_auth"
                  android:finishOnTaskLaunch="true"
                  android:theme="@style/AppTheme"/>

        <activity android:name=".feature.auth.ProfileActivity"
            android:taskAffinity="@string/affinity_auth"
            android:finishOnTaskLaunch="true"
            android:theme="@style/AppTheme"/>

        <!-- Vehicles -->

        <activity android:name=".feature.vehicles.VehicleListActivity"
            android:taskAffinity="@string/affinity_vehicles"
            android:theme="@style/AppTheme"/>

        <activity android:name=".feature.vehicles.VehicleDetailsActivity"
                  android:taskAffinity="@string/affinity_vehicles"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".feature.vehicles.VehicleListActivity"/>
        </activity>

        <!-- Facebook -->

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>