<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braincorp.petrolwatcher"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:mapTheme="@style/AppTheme">

        <activity android:name=".activities.LoginActivity"
            android:finishOnTaskLaunch="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ProfileActivity" />

        <activity android:name=".activities.VehiclesActivity"
            android:parentActivityName=".activities.ProfileActivity"
            android:mapTheme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ProfileActivity" />
        </activity>

        <activity android:name=".activities.MapActivity"
            android:mapTheme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.PetrolStationsActivity"
            android:mapTheme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MapActivity" />
        </activity>

        <activity android:name=".activities.FuelsActivity"/>
        <activity android:name=".activities.SettingsActivity"
            android:mapTheme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MapActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MapActivity" />
        </activity>

        <service android:name=".services.StationLocatorService" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>