<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.braincorp.petrolwatcher"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.LoginActivity"
            android:finishOnTaskLaunch="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ProfileActivity" />

        <activity android:name=".activities.VehiclesActivity"
            android:parentActivityName=".activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ProfileActivity"/>
        </activity>

        <activity android:name=".activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:finishOnTaskLaunch="true"
            android:clearTaskOnLaunch="true"/>

        <activity android:name=".activities.PetrolStationsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeActivity"/>
        </activity>

        <service android:name=".services.StationLocatorService" />
    </application>

</manifest>